@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
    background-color: #b9b9b9;
    font-family: "Inter", sans-serif !important;
    --cheqgreen: darkgreen;
    --headergreen: #5ba66c;
    --activeGreen: #eefdef;
    --lightgray: green;
    --bordergray: lightgray;
    --activeBorder: green;
    --darkFont: #002c00;
    --smallPadding: 5px;
}

input{
    border: var(--bordergray) 1px solid;
    border-radius: 5px;
}

input[type="number"] {
    text-align: left; /* Text rechtsbündig */
    max-width: 50%;
}

.cheqed {
    color: var(--cheqgreen);
    font-size: 1.25rem;
}

.logoContainer{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    flex-flow: row;
}
.accordion-body {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    .btn {
        --bs-btn-padding-y: 0.15rem;
    }
}

.itemInListHeader {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
}

#itemSymbol, #itemSymbol2{
    margin-bottom: 0 !important;
}

.newArticleBtn {
    float: inline-end;
}

.addItemInListBtn{
    --bs-btn-padding-x: 0.75rem !important;
    --bs-btn-padding-y: 0.35rem !important;
    margin-bottom: 5px;
}

.itemLeftSide {
    display: flex;
    flex-flow: row;
}

.itemNumber{
    color: gray;
}

#tagFilterContainer{
    padding-left: 5%;
}

.filterBtn, .addTagBtn{
    width: 100%;
}

#addNewArticleBtn{
    margin-bottom: 25px;
}

.noListSelected {
    margin-top: 15%;
    text-align: center;
    color: var(--bordergray);
}

.alllists{
    display: flex;
    justify-content: space-between;
    flex-flow: row;
}

.twoFlex {
    flex-wrap: wrap;
    flex-basis: 2;
}

#tagCreationName{
    width: 100%;
}

.margin-top-med {
    margin-top: 40px;
}

.itemInList{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    gap: 10px;
    vertical-align: center;
}

.form-check-input{
    margin-top: 0;
}

/* Ändert die Standardfarbe der Checkbox auf Grün */
.form-check-input:checked {
    background-color: var(--headergreen); /* Bootstrap Grün */
    border-color: var(--activeBorder);
}

.accordion-button:not(.collapsed) {
    background-color: var(--activeGreen);
    color: var(--darkFont);
}

.accordion-header{
    margin-bottom: 0;
    padding-bottom: 0;
}

.ListItemName {
    margin-bottom: 0;
    padding-bottom: 0;
}

div.container {
    --bs-gutter-x: 0 rem;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Damit sich alles an die Bildschirmhöhe anpasst */
    box-sizing: border-box;
}

@media (min-width: 992px) {
    .container {
        grid-template-areas:
        "header header header header"
        "sidebar main main main";
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto 1fr auto;
    }
}

.itemNameEditor{
    text-align: center;
    max-width: 150px;
    border: var(--bordergray) 1px solid;
    width: fit-content;
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        grid-template-areas:
        "header header header header"
        "sidebar sidebar sidebar sidebar"
        "main main main main";
        grid-template-columns: 1fr;
    }

    .sidebar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.flex-row{
    display: flex;
    flex-flow: row;
    gap: 5px;
    vertical-align: center;
}

.flex-row > label {
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (max-width: 767px) {
    .container {
        grid-template-areas:
        "header"
        "sidebar"
        "main";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .tabs {
        flex-direction: row;
        gap: 5px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .tabs div {
        font-size: 10pt;
        padding: 5px;
        width: 25%;
    }

    .tabs div i {
        font-size: 12pt;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 100vw !important;
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
}

.fullWidth {
    width: 100%;
}

.container {
    margin-top: 5px;
    margin-bottom: 5px;
    display: grid;
    gap: 15px;
    min-height: 98vh;
    background-color: #FFFFFF;
    border-right: #a2a2a2 solid 1px;
    border-left: #a2a2a2 solid 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header {
    grid-area: header;
    border-bottom: darkgreen;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

h1 {
   font-style: italic;
}

h2 {
    font-size: 20pt;
    font-style: italic;
    padding-bottom: 20px;
}

main {
    grid-area: main;
    overflow: auto;
}

.sidebar {
    margin-left: 10px;
    margin-right: 10px;
    grid-area: sidebar;
    display: flex;
    flex-flow: column;
}

.bg-header {
    background-color: #5ba66c;
}

.header > * {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

#logo {
    width: 75px;
}

body {
    height: calc( 100vh - 30px);
    margin: auto;
}

#noselected {
    text-align: center;
    align-self: center;
    margin-top: 150px;
}

#nolists {
    text-align: center;
    margin-top: 25px;
}

.listCreation {
    padding: 15px;
    display: flex;
    flex-flow: column;
}

.modal-container{
    background-color: #FFFFFF;
    border-right: #a2a2a2 solid 1px;
    border-left: #a2a2a2 solid 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 40%; /* UNBEDINGT NOCH RESPONSESIVE MACHEN*/
    align-self: center;
}

.modal-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: center;
    vertical-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.listCreation {
    display: flex;
    gap: 15px;
    flex-flow: column;
    padding: 20px;
    .btn {
        width: 25%;
    }
}

.modal-btns {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    gap: 15px;
}

.tabs {
    display: flex;
    flex-flow: row;
    gap: 15px;
    justify-content: space-evenly;
    align-items: center;
}

.tabs > div > p {
    margin-bottom: 0;
}

.tabs > div > .bi {
    margin-bottom: 0;
}

.tabs > div > i {
    align-self: center;
}

.tabs div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.tabs >> div {
    border-radius: 100px;
    border: #a2a2a2 solid 1px;
}

.tabs div i {
    font-size: 15pt;
    margin-bottom: 5px;
}

.form-check-input{
    border: var(--activeBorder) solid 2px;
}

#editingModalHeader{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    h2 {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.list-group-item{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

#listNameInput {
    margin-top: 5px;
    border: #a2a2a2 1px solid;
    border-radius: 5px;
    height: 24pt;
}

.activeTab {
    background-color: var(--headergreen) !important;
    color: white;
    border: var(--bordergray) solid 3px;
    border-bottom: none;
    border-radius:  5px 5px 0 0 !important;
}

.activeList {
    background-color: var(--activeGreen);
    border: darkgreen 1px solid !important;
}

.ListHeader {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

button:disabled {
    display: none;
}
